<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sss</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/header/datetimepicker.css}"/>
    <script th:src="@{/css/header/jquery.min.js}"></script>
    <script th:src="@{/css/header/datetimepicker.js}"></script>
    <script th:src="@{/css/header/dates.js}"></script>

</head>
<body>
<div class="container">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"><h2>Product Details</h2></div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"> </div>
            </div>
            <div class="panel-body" >

    <div>

        <form class="form-horizontal" th:object="${itemForm}" th:action="@{/product}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{id_item}"/>

            <div class="form-group" th:class="${#fields.hasErrors('item_description')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Descripcion:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{item_description}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('item_description')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <input type="number" min="0" max="5000" step="0.01" class="form-control" th:field="*{price}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('expiration_date')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Dia:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="yearOne" id="startDate" th:field="*{expiration_date}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('expiration_date')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

</body>
</html>